.d_tab{
width:100%;
height:3.08rem;
box-sizing:border-box;
}
.d_tab li{
width:33.3333%;
height:100%;
float: left;
text-align: center;
line-height: 3.04rem;
font-size: 1rem;
}
.d_tab li a{
width:100%;
height:100%;
display: block;
color:#464646;
}
.hot{
border-bottom: 2px solid #F15353;
color:#F15353;
}
.record{
width:100%;
height:100%;
}
.record .null{
display: block;
margin:2rem auto;
width:16.4rem;
}
/* 无夺宝记录 -------------------------------------------------------------*/
.record ul{
margin-top:0.5rem;
}
.record li{
width:100%;
height:auto;
}
.r_l{
width:29%;
height:auto;
float: left;
}
.r_c{
width:70%;
height:auto;
float: right;
overflow: hidden;
}
.r_c p{
margin-top:0.2rem;
}
.r_bar{
width:70%;
height:6px;
background: #EEEEEE;
display: block;
border-radius: 6px;
margin-top:0.5rem;
}
.r_bar i{
height:100%;
display: block;
background:-webkit-gradient(linear,left top,right top,from(#FFCB3D),to(#FF8533));
border-radius: 6px;
}
.can .blur{
float: right;
font-size: 14px;
}
.add{
width:100%;
height:1.92rem;
margin-top:0.2rem;
}
.add a{
width:6rem;
height:100%;
display: block;
background: #DB3652;
border:1px solid #D82543;
border-radius: 5px;
text-align: center;
line-height: 1.92rem;
box-sizing:border-box;
color:#fff;
}
.quan{
    width:100%;
    height:auto;
    padding-top:5px;
    padding-bottom:5px;
    background: #F8F8F8;
    margin-top:10px;
}
.quan p{
margin-top:5px;
}
.quan div{
    margin-top:5px;
}