a,*{
font-family: '微软雅黑';
}
b{
font-weight: normal;
}
.for{
width:100%;
height:6.4rem;
}
.for-in{
width:90%;
height:4rem;
margin:1.2rem auto;
background: #DB3652;
border-radius: 6px;
}
.red_tab,.red_tab ul{
width:100%;
height:3.08rem;
}
.red_tab li{
width:50%;
height:100%;
line-height: 3.08rem;
text-align: center;
float: left;
}
.red_tab li a{
width:100%;
height:100%;
display: block;
}
.red_tab .hot{
border-bottom: 1px solid #F15353;
}
.content,.content ul{
width:100%;
height:auto;
}
.content li{
width:100%;
height:8rem;
overflow: hidden;
padding:1.24rem 0.5rem 0.88rem 0.5rem;
box-sizing:border-box;
}
.conLeft{
width:40%;
height:100%;
background: url('../images/pay/1.png') no-repeat center;
background-size:cover;
font-weight:bold;
text-shadow: 2px 4px 10px rgba(181,12,20,0.6);
text-align: center;
line-height:5.48rem;
color:#FEF353;
float:left;
}
.conRight{
width:58%;
height:100%;
float:right;
position: relative;
}
.conRight h5{
line-height: 2rem;
color:#666;
margin-bottom: 10px;
}
.conRight p{
margin-top:2px;
}
.conRight ins img{
position: absolute;
top:1rem;
right:0;
width:4rem;
height:1.5rem;
display: block;
}
.null{
width:100%;
height:26rem;
background: url('../images/pay/null2.png') no-repeat center center;
background-size:20.8rem 25.84rem;
margin-top:2rem;
}
.null h6{
text-align: center;
line-height: 5rem;
padding: 7rem 0 1rem 0;
color:#FFE671;
}
.null span{
width:14rem;
height:3.2rem;
display: block;
background: #FFE671;
margin:1rem auto;
border-radius: 6px;
}
.null span a{
width:100%;
height:100%;
display: block;
text-align: center;
line-height: 3.2rem;
color:#EE382B;
font-size: 1.12rem;
}
/* 红包结束 -------------------------------------------*/
.banner,.banner img{
text-align: center;
width:100%;
height:100%;
}
.integral{
width:100%;
height:10.2rem;
}
.integral p{
padding:1.6rem 0 1.2rem 0;
font-size: 1.06rem;
color:#9a9a9a;
}
.promptly{
width:100%;
height:3.6rem;
display: block;
background: #FF5353;
border-radius: 6px;
text-align: center;
line-height: 3.6rem;
color:#fff;
font-size:1.12rem ;
}
.hr{
width:100%;
height:0.8rem;
background: #EFEFF4;
}
.rule{
width:100%;
height:auto;
padding-bottom: 2rem;
}
.rule h6{
line-height: 3rem;
color:#9a9a9a;
}
.rule p{
font-size: 1rem;
line-height: 24px;
}
.bgpic{
position: fixed;
width:100%;
height:26rem;
top:15%;
display: none;
background: url('../images/pay/nono.png') no-repeat center center;
background-size:20.8rem 25.84rem;
}
.bgpic2{
background: url('../images/pay/null.png') no-repeat center center;
background-size:20.8rem 25.84rem;
}
.bgpic h6{
text-align: center;
line-height: 5rem;
padding: 10rem 0 1rem 0;
color:#FFE671;
font-size: 5rem;
}
.bgpic button{
width:13rem;
height:3.2rem;
background: #FFE671;
color:#EE382B;
display: block;
margin:19rem auto 0 auto;
border-radius: 6px;
}
.bgpic span{
width:14rem;
height:3.2rem;
display: block;
background: #FFE671;
margin:1rem auto;
border-radius: 6px;
text-align: center;
line-height: 3.2rem;
color:#EE382B;
font-size: 1.12rem;
}
.bgpic ins{
position: absolute;
top:0;
right:0;
width:2.08rem;
height:2.08rem;
display: block;
background: url('../images/pay/guanbi.png') no-repeat center center;
background-size:cover;
}
/* 积分商城结束 --------------------------------------------------*/
.c_top{
width:100%;
height:6.4rem;
padding:1.2rem 0;
box-sizing:border-box;
background: ;
}
.top_inner{
width:96%;
height:4rem;
margin:0 6.5px;
background:#DB3652;
border-radius: 6px;
}
.top_inner h4,.numA_a h4{
line-height: 2rem;
}
.numA{
width:100%;
height:auto;
}
.numA_a{
width:100%;
height:7rem;
background: #fff;
}
.open{
float: right;
display:inline-block;
float: right;
padding-right: 10px;
background: url('../images/xia.png') no-repeat center right;
background-size:8px 10px;
}
.open2{
background: url('../images/shang.png') no-repeat center right;
background-size:8px 10px;
}
.numA_a p{
margin-top:5px;
}
.m-calc-list td{
font-size:12px;
}
.m-calc-list td b{
font-weight: normal;
}
.m-calc-resultList{
display: none;
height:auto;
}
.numB{
width:100%;
height:5rem;
margin-top:0.8rem;
background: #fff;
}
.numB p{
text-align: center;
line-height: 3rem;
}
.m-calc-resultList {
width:100%;
border-top:1px solid #d5d5d5;
border-bottom:1px solid #d5d5d5;
}
.m-calc-resultList th,.m-calc-resultList td {
padding-left:10px;
line-height:22px;
border-bottom:1px solid #d5d5d5;
width:75%;
}
.m-calc-resultList th {
background:#f8f8f8;
text-align:left;
}
.m-calc-resultList th.time {
width:218px;
}
.m-calc-resultList td.user a {
color:#8f8f8f;
}
.m-calc-result {
margin-top:10px;
background:#fff;
color:#525252;
border-top:1px solid #e2e2e2;
border-bottom:1px solid #e2e2e2;
padding:10px 10px 15px;
}
.m-calc-result-title {
font-size:13px;
}
.m-calc-result-code {
text-align:center;
font-size:14px;
}
.ico-label-l-yxlb {
background-image:url(../images/label_yxlb.png);
background-repeat:no-repeat;
background-size:contain;
}
body,input,textarea{
font-family:arial;
}
.ico{
display:inline-block;vertical-align:middle;
background:url('../images/you.png') no-repeat center center;
background-size:10px 8px;
}
.ico-arrow-transfer{
width:10px;height:6px;
position:relative;
}
.ico-arrow-transfer:after{
top:1px;right:0;width:0;
height:0;border-width:4px;
border-top:0;border-style:solid;
border-color:transparent;
border-bottom-color:#db3625;
transform:rotate(90deg);
}
/* 计算详情结束 -------------------------------------------*/
.bar{
width:100%;
height:5.52rem;
background:url('../images/my/banner.png') no-repeat center center;
background-size:100% 100%;
overflow: hidden;
}
.bar_pic{
width:4.8rem;
height:4.8rem;
float:left;
background:url('../images/mo.png') no-repeat center center;
background-size:100% 100%;
margin:0.36rem 1.5rem;
border-radius: 50%;
}
.bar_pic img{
width:100%;
height:100%;
border-radius: 50%;
}
.bar_txt{
float: left;
height:4.8rem;
margin:0.36rem  0;
}
.bar_txt p{
margin:1rem 0;
color:#fff;
}
.Tab,.Tab ul{
width:100%;
height:2.88rem;
}
.Tab li{
float: left;
width:33.333%;
height:100%;
text-align: center;
line-height: 2.88rem;
}
.Tab .lihot{
color:#F15353;
border-bottom: 2px solid #F15353;
}
.Tab li a{
width:100%;
height:100%;
display: block;
color:#424242;
}
.con{
width:100%;
height:100%;
}

/*******************积分兑换*********************************/
.jf_exchange{
	color:#333;	
}

.jf_exchange .jf_box{
	height: 3.6rem;
	line-height: 3.6rem;
	font-size: 0.96rem;
	padding:0 0.8rem
}
.jf_exchange .jf_bg{
	background-color:#fbe077 ;
	color:#64390c;
	line-height:1rem;
	font-size: 0.8rem;
	padding-top:0.8rem
}
.jf_exchange .jf_box span{
	display: inline-block;
	padding-left: 0.8rem;
	font-size: 1.1rem;
	padding:0 0.8rem
}
.jf_exchange .hui{
	color:#909090;
	height: 2.5rem;
	line-height: 2.5rem;
	background-color: #f7f7f7;
	padding:0 0.8rem;
	font-size: 0.8rem;
}
.jf_exchange .jf_ul{
	overflow: hidden;
	padding:1.5rem 0.8rem 0 0.8rem;
}
.jf_exchange .jf_ul li{
	float: left;
	font-size: 0.96rem;
	border:1px solid #d9d9d9;
	padding:0.6rem 0;
	margin:0 0.66rem 0.8rem 0;
	width:30.4%;
	text-align: center;
}
.jf_exchange .jf_ul li:nth-of-type(3n){
	margin-right: 0;
}
.jf_exchange .jf_ul .on{
	border:1px solid #e32e2e;
}
.jf_exchange .jf_ul input{
	width:80%;
	text-align: center;
	color:#969696;
	font-size: 0.96rem;
	outline: none;
	font-family: "微软雅黑";
}
.jf_exchange .tc{
	margin-top: 0.7rem;;
}
.jf_exchange .red_btn{
	display: inline-block;
	width:93%;
	margin:0 auto;
	padding:0.6rem 0;
	background-color: #e32e2e;
	color:#fff;
	line-height: 1.2rem;
	border-radius: 5px;
	font-family: "微软雅黑";
}
.jf_exchange .red_btn2{
	display: inline-block;
	width:93%;
	margin:0 auto;
	padding:0.6rem 0;
	background-color: #fe3756;
	color:#fff;
	line-height: 1.2rem;
	border-radius: 5px;
	font-family: "微软雅黑";
}
/*其他支付方式*/
.other_pay{
	margin-bottom: 2rem;
	overflow: hidden;
}
.other_pay .zf{
	position: relative;
	width:7rem;
	float: left;
}
.other_pay .radio_f{
	width:1.3rem;
	height: 1.3rem;
	background-color: #999;
	border-radius: 50px;
	display: block;
	margin:0.8rem 0.8rem;
}
.other_pay span{
	display: inline-block;
	position: absolute;
	font-size: 0.8rem;
	left:2.5rem;
	bottom:0.9rem
}









